<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
    
<head>
    <title>Login - Clinic Booking System</title>

    <body>

        <h2>Login</h2>

        <form action="#" th:action="@{/auth/login}" method="post">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username">
            <label for="password">Password:</label>
            <input type="text" id="password" name="password">
            <button type="submit">Login</button>
        </form>    
    </body>

</head>
</html>