<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
    
<head>
    <title>Register - Clinic Booking System</title>

    <body>

        <h2>Register</h2>

        <form action="#" th:action="@{/auth/register}" method="post">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName">

            <label for="email">Email:</label>
            <input type="text" id="email" name="email">

            <label for="password">Password:</label>
            <input type="text" id="password" name="password">

            <button type="submit">Register</button>
        </form>    
    </body>

</head>
</html>